/* global */
body{
    margin: 0;
}
/* header */
header{
    background-color: azure;
    position: sticky;
    top: 0%;
    padding-top: 10px;
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 10px;  
}
header img{
    width: 50px;
    height: 50px;
    padding-top: 0%;
    padding-left: 15px;
    position: relative;
    top:-12px
}
header a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}
header li {
    display:inline-block;
    background-color: azure;
    padding-left: 10px;
    margin-right: 10px;
}
/* share */
.sh{
    text-align: center;
    position: fixed;
    top: 30%;
    left: 15px;
    z-index: 3;
}
.share{
    color: white;
    font-size: 20px;
    border-bottom: 1px;
    margin-bottom: -3px;
    display:inline-block;
    color: var(--main-text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.share-div{
    font-size: larger;
    align-items: center;
    display: inline-block;
    margin: 0 -17px 14px 0;
    transform: rotate(-90deg);
    transform-origin: 50% 100%;
}
.sharee{
    display: block;
    color: white;
    position:fixed;
    align-items: center;
    transform: rotate(-90deg);
}
/* .dash{
    display:block;
    width: 1px;
    height: 30px;
    margin: 0px auto;
    margin-bottom: 20px;
    background-color: black;
}  */
.share-link{
    /* margin: 8px 5px; */
    padding-top:15px;
    padding-bottom:0;
    display: block;
    font-size: x-large;
}
/* footer */ 
footer{
    margin: 0%;
    font-size:25px;
    padding-top:10px;
    padding-bottom:4px;
    text-align: center;
    color: rgb(196, 47, 47);
    background-color: rgb(216, 214, 209);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer img{
    width: 30px;
    padding-inline-start: 20px;    
}
.snap{
    width: 40px;
    height: 31px;
    vertical-align: baseline;
    padding-left: 17px;
   
}
.gmail{
    width: 40px;
    height: 39px;
    vertical-align: bottom;
    padding-left: 10px;
}
@media screen and (max-width:720px){
    .sh{
        display:none;
    }
}
@media screen and (min-width:720px){ 
    .sh{
    display: block;
    }  
}
@media screen and (max-width:720px){
    .main{
        margin-left:0;
    }
}
@media screen and (min-width:720px){
    .main{
        margin-left: 50px ;
    }
}
@media screen and (max-width:720px){
    .full_body{
    background-image: url(imagesmin/moon.jpg);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0%;
    /* color: aliceblue;
    */
    }
}
@media screen and (min-width:720px) {
    .full_body{
    background-image: url(imagesmin/onetree.jpg); 
    background-repeat: no-repeat;
    background-position: 80%;
    background-size:cover;
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 84px;
    /* color: white; */
   
    }
    
}
/* @media screen and(max-width:720px){
    header li{
        display:inline-block;
        text-decoration: none;
    }
}
@media screen and(min-width:720px){
    header li{
        text-decoration: none;
        display:block;
    }
} */
body{
    background-color: rgb(216, 214, 209);
    user-select: none;
}